@media (max-width: 992px) {
    .menu__btn{
        color: #fff;
        font-size: 30px;
    }
    
    .header__nav-link{
        margin-bottom: 10px;
        justify-content: center;
        padding: 15px 30px;
    }
}