*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: auto;
}
/* *********************************** */
/* HEADER START */
header{
    background: url(../images/header-fon.jpg) no-repeat center/cover;
    width: 100%;
    height: 100%;
    display: flex;
}
header .logo{
    background: #4e9f0d;
    color: 2px solid #5ebd10;
    border-radius: 4px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    padding: 4px 13px;
    width: 160px;
    margin-top: 30px;
    height: 32px;
}
header .logo img{
    width: 24px;
    margin-right: 11px;
}
header .menu nav{
    display: flex;
    justify-content: space-between;
}
header .menu nav ul{
    display: flex;
}
header .menu nav ul a{
    background: transparent;
    padding: 40px 26px 30px 26px;
    display: flex;
    color: #69cf17;
    transition: 0.5s;
}
header .menu nav ul a:hover{
    background: #4e9f0d;
    color: #fff;
}
header .text h1{
    color: #69cf17;
    font-size: 72px;
    text-transform: uppercase;
    margin-top: 166px;
}
header .text h2{
    color: #69cf17;
    font-size: 36px;
}
header .text .tt{
    color: red;
    font-size: 18px;
    margin-top: 30px;
}
header .text .num{
    font-size: 60px;
    color: #fff;
    background: #6acf17c9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 100px;
    margin-top: 75px;
    margin-bottom: 150px;
}
.films{
    background: #02153a;
    padding-top: 68px;
    padding-bottom: 78px;
}
.films .films-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 59px;
}
.box-1{
    grid-area: box-1;
}
.box-2{
    grid-area: box-2;
}
.box-3{
    grid-area: box-3;
}
.box-4{
    grid-area: box-4;
}
.box-5{
    grid-area: box-5;
}
.box-6{
    grid-area: box-6;
}
.films-block{
    display: grid;
    gap: 15px;
    grid-template-areas: 
    'box-1 box-2 box-3'
    'box-4 box-5 box-6'
    ;
}
.films-block .box-text p{
    color: #5ebd10;
}
.films-block .box-text h3{
    color: #5ebd10;
    /* font-size: 30px; */
}
.films .container .menu nav ul{
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-right: 675px;
}
.films .container .menu nav ul li a{
    background: transparent;
    
    display: flex;
    color: #69cf17;
    transition: 0.5s;
}
.films .container .menu nav ul li a:hover{
    background: #4e9f0d;
    color: #fff;
}
.sdq .num{
    background: #69d90e99;
    width: 42px;
}






/* *********************************** */
/* HEADER END */